@{
    ViewData["Title"] = "Home Page";
}


<div>
    <div class="header-dark">
        <div class="container hero">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center">Welkom bij Bon Temps</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="article-list">
    <div class="container">
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="~/img/desk.jpg"></a>
                <h3 class="name">Menus</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="~/img/building.jpg"></a>
                <h3 class="name">Reserveren</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="~/img/loft.jpg"></a>
                <h3 class="name">Impressies</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="map-clean">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Address</h1>
                <p>Straatnaam + nr<br>PostCode + Plaatsnaam<br>Land</p>
            </div>
            <div class="col">
                <h1>Contact</h1>
                <p>Tel: 0633373707<br>Mail: ik@mickdejong.nl</p>
            </div>
        </div>
        <div class="intro"></div>
    </div><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Paris%2C+France&amp;zoom=15" width="100%" height="450"></iframe>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
